:root{
    --color-fondo: fff;
}
#banner{
    position: relative;
    margin-top: 20px;
}
#banner img{
    height: 100%;
    width: 100%;
}
#banner .container{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: var(--color-fondo);
}
#banner h2{
    font-size: 28px;
}