*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:  rgb(135, 60, 130);
}

/*INICIO DEL ENCABEZADO*/

.input{
    position: absolute;
    text-align: center;
    height: 0%;
    width: 75%;
    margin-top: -35px;
    padding-top: 5px;
    margin-left: 50px;
    flex-wrap: wrap;
}

/*FIN DEL ENCABEZADO*/